[Unit]
Description=A backup service for dotfiles and packages installed

[Service]
ExecStart=/home/evilsocket/scripts/dotfiles_backup.sh

[Install]
WantedBy=multi-user.target
